.discoverMore-wraper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.discoverMore-wraper .hero-img{
  width: 100%;
  padding: 1rem 0;
}
.discoverMore-wraper .hero-img img{
  width: 100%;
  max-height: 720px;
  object-fit: cover;
}

.discoverMore-wraper .dis{
  width: 100%;
  max-width: 500px;
  text-align: center;
  padding: 1rem 3rem ;
  font-family: 'Times New Roman', Times, serif;
  
}
.discoverMore-wraper .dis h1{
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 10px;
}
.discoverMore-wraper .dis p{
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 5px;
  
 
}
.discoverMore-wraper .dis button{
  border: none;
  padding-bottom: 5px ;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: transparent;
  border-bottom: 1px solid var(--dark-gray);
  cursor: pointer;
  color: var(--dark-gray);
}